/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
h1 {
  font-size: 7rem;
}
h2 {
  color: white;
  font-size: 2rem;
}
h3 {
  font-weight: bold;
  padding-top: 15px;
}
nav {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  background: #cfcfcf;
  border-bottom-left-radius: 15px;
}
nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0 15px;
}
nav a:visited {
  color: black;
}
nav a:hover {
  background-color: #5292FF;
  color: white;
  cursor: pointer;
}
nav img {
  height: 30px;
}
nav .menu-content {
  display: none;
}
footer {
  margin-top: 25px;
}
footer nav {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  background: #cfcfcf;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
footer nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0 15px;
}
footer nav a:visited {
  color: black;
}
footer nav a:hover {
  background-color: #5292FF;
  color: white;
  cursor: pointer;
}
footer nav img {
  height: 30px;
}
footer nav .menu-content {
  display: none;
}
.top-content {
  width: 100%;
  display: inline-grid;
  grid-template-columns: auto 300px;
}
.top-content .top-content-left {
  display: flex;
  flex-direction: column;
}
.top-content .top-content-left .heading {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.top-content .top-content-left .heading p {
  padding-top: 15px;
  width: 70%;
}
.top-content .top-content-left .heading ol {
  list-style-type: decimal;
}
.top-content .top-content-right img {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.main-content .content-container {
  width: 100%;
  display: flex;
  margin-top: 25px;
}
.main-content .content-container .content-title {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5292FF;
  text-align: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.main-content .content-container .content {
  width: 100%;
  padding: 0 15px 15px;
  border-left: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #cfcfcf;
}
.main-content .content-container .content .titles {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.main-content .content-container .skills-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.main-content .content-container .interests-content {
  display: flex;
  justify-content: space-around;
}
.main-content .content-container .interests-content div {
  padding-left: 15px;
}
.main-content .inverted-content-container .content-title {
  border-radius: 0 15px 15px 0;
}
.main-content .inverted-content-container .content {
  order: -1;
  border-radius: 15px 0 0 15px;
  border-right: none;
}
.main-content .portfolio-link {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.main-content .portfolio-link .left-bar {
  width: 30%;
  background-color: #5292FF;
  background-image: linear-gradient(to right, #5292FF, white);
  border-radius: 15px;
}
.main-content .portfolio-link .right-bar {
  width: 30%;
  background-color: #5292FF;
  background-image: linear-gradient(to right, white, #5292FF);
  border-radius: 15px;
}
.main-content .portfolio-link a {
  text-align: center;
  width: 40%;
  text-decoration: none;
}
.main-content .portfolio-link a:hover {
  font-weight: bold;
}
.main-content .portfolio-link a:visited {
  text-decoration: none;
  color: inherit;
}
