.top-content {
    width: 100%;
    display: flex;

    .top-content-left {
        width: 50%;
        display: flex;
        flex-direction: column;

        .heading {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .top-content-right {
        img {
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
        }
    }
}