nav {
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: @accent-grey;
        border-bottom-left-radius: 15px;

    .menu-button {
        background: @accent-blue;
        height: 30px;
        width: 30px;
        border-radius: 100%;
        color: white;
        padding-bottom: 8px;
        font-weight: bold;
    }

    .menu-button:hover {
    cursor: pointer;
    }

    img {
        height: 30px;
        border-radius: 100%;
    }
    .menu-content {
        display: none;
    }
}
